main {
           
    height: 840px;
    width: 1400px;
    margin: auto;
}
header {
    border: 3px solid rgb(0, 0, 0);
    height: 180px;
    width: 1400px;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../Image/abstract-black-scratch-texture-on-gray-background-vector.jpg);
    background-size: 1300px;
}
nav {
    border: 3px solid rgb(11, 11, 15);
    height: 70px;
    width: 1400px;
    margin-bottom: 20px;
    background-color: rgb(43, 119, 75);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;

}
.section1 {
    height: 500px;
    width: 1400px;
    margin-bottom: 20px;
    float: left;
    background-color: white;
}
.articulo1 {
    border: 3px solid rgb(0, 0, 0);
    height: 240px;
    width: 800px;
    margin-bottom: 10px;
    float: left;
    display: inline;
    background-color: #fffa99;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
}
article {
    border: 3px solid rgb(0, 0, 0);
    height: 240px;
    width: 800px;
    margin: auto;
    float: left;
    display: inline;
    background-color: #fffa99;
    border-radius: 10px;
}
aside {
    border: 3px solid rgb(0, 0, 0);
    height: 490px;
    width: 550px;
    margin: auto;
    display: inline;
    float: right;
    background-color: rgb(4, 59, 46);
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;

}
footer {
    border: 3px solid rgb(0, 0, 0);
    clear: both;
    height: 100px;
    margin: auto;
    background-color: rgb(7, 109, 7);
    border-radius: 20px;
    line-height: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
}
.Textnav1 {
    color: white;
    padding-left: 50px;
    padding-right: 70px;
    font-size: 25px;
    display: inline-block;
    border-right: 3px solid white;
    margin-left: 30px;
    margin-right: 80px;
}
.Textnav2 {
    color: white;
    padding-left: 50px;
    padding-right: 70px;
    font-size: 25px;
    display: inline-block;
    border-right: 3px solid white;
    margin-left: 30px;
    margin-right: 80px;
}
.Textnav3 {
    color: white;
    padding-left: 50px;
    padding-right: 70px;
    font-size: 25px;
    display: inline-block;
    border-right: 3px solid white;
    margin-left: 30px;
    margin-right: 80px;
}
.Textnav4 {
    color: white;
    padding-left: 50px;
    padding-right: 70px;
    font-size: 25px;
    display: inline-block;
}
.textheader1 {
    color: black;
    font-size: 30px;
    margin-left: 140px;
    margin-right: 40px;
    line-height: 1.1;
}
.textheader2 {
    color: black;
    font-size: 60px;
    margin-left: 140px;
    margin-right: 80px;
    line-height: 0.5;
}
.imageh1 {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
.imageh2 {
    float: right;
    margin-right: 60px;
    margin-top: 30px;
}
.Cuidados {
    width: 500px;
    margin-left: 30px;
}
.viaje {
    width: 500px;
    margin-left: 30px;
}
.img1 {
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    border: 5px solid;
    border-radius: 20px;
    background-color: white;
}
.titulo {
    margin-left: 30px;
}
.section2 {
    border: 2px solid;
    background-color: rgba(127, 255, 212, 0.4);
    width: 550px;
    height: 390px;
    line-height: 9px;
}
input {
    color: black;
    width: 180px;
    height: 15px;
}
button {
    width: 150px;
}